<div class="container">
	<div class="page-header">
		<h1>Notícias</h1>
	</div>
	<ol class="breadcrumb">
		<li><a href="{base_url}">Home</a></li>
		<li><a href="{base_url}noticias">Notícias</a></li>
        <li class="active">{$dados->titulo}</li>
	</ol>
    {if isset($erro)}
        <div class="alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            {$erro}
        </div>
    {/if}
    <h2>{$dados->titulo}</h2>
    {if $dados->imagem != ''}
    	<img src="{base_url}uploads/imagens/{$dados->imagem}" alt="" width="100%" height="50%" class="img_responsive">
        <div class="clearfix">&nbsp;</div>
    {/if}
    {$dados->corpo}
</div>