<div class="site-wrapper">
	<div class="site-wrapper-inner">
		<div class="cover-container">
			<div class="inner cover">
				<h1 class="cover-heading">Bem-vindo!</h1>
				<p class="lead">Esta é uma classe para gerenciamento e apresentação de notícias, com operações básicas de inserção, edição, exclusão, listagem e exibição.</p>
				<p class="lead">
					<a href="{base_url}noticias" class="btn btn-lg btn-primary">Listar notícias</a>
				</p>
			</div>
			<div class="mastfoot">
				<div class="inner">
					<p>Desenvolvido por <a href="mailto:gigantetsi@gmail.com">Diego Machado</a></p>
				</div>
			</div>
		</div>
	</div>
</div>